body {
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.pics img {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

.pics img:hover {
    transform: scale(1.1);
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #222;
    box-shadow: 0 2px 10px rgba(129, 128, 128, 0.1);
    font-family: 'Courier New', Courier, monospace;
    
  }


  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo img {
    width: 235px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
  }

  .menu {
    display: flex;
    gap: 15px;
  }

  .menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
  }

  .menu a:hover {
    background: darkgreen;
    color: white;
  }