{% extends "base.htm" %}

{% block title %}
    Outlast - web
{% endblock %}

{% block content %}
    
<div class="background">

    <div class="container">
        <h1>Vítejte na neoficialním webu originálního Outlastu.</h1>
        <h3>Full game walkthrough no-commentary</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5Z_2WNwxYrE?si=mkaD6EDojCyywvrd" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
    <div class="popiscontainer">
        <h2>Outlast je hororová hra vyvinutá a vydaná studiem Red Barrels. 
            Soustřeďuje se na snahu uniknout z dané lokality, současně rozkrývat tajemství onoho místa a shromažďovat důkazní materiály. 
            Ústřední postavou je investigativní novinář, který se rozhodne udělat reportáž o znovuotevřené psychiatrické léčebně zvané 
            Mount Massive Asylum, která se nachází kdesi v odlehlých horách v Lake County, Coloradu, USA.
            Outlast byl vydán 4. září 2013 na Microsoft Windows. Během několika měsíců následovaly verze pro PlayStation, 
            Xbox One, OS X a Linux. Do října 2016 se prodaly více než 4 miliony kopií.</h2>
    </div>

    <div class="containervlevo">
        <h2>Tato stránka slouží jako fanouškovská. 
            Byla vyrobena čistě z lásky ke hře a pro rozšíření
            již skvělé komunity hráčů.
            <a href="https://redbarrelsgames.com/"> Oficiálni web Outlastu</a></h2>
    </div>

    <div class="containervpravo">
        <h2>Na této stránce najdete různé zajímavosti o postavách 
            a vysvětlivky k příběhu, které by nemusely být úplně jasné
            ze základního příběhu.</h2>
    </div>

    <div class="disclaimercontainer">
        <h4>Všechny použité zdroje najdete zde:
            <a href="https://store.steampowered.com/app/238320/Outlast/">Koupě hry</a>
            <a href="https://outlast.fandom.com/wiki/Outlast_Wiki">Fandom</a>
            <a href="https://cs.wikipedia.org/wiki/Outlast_(videohra)">Oficiální Wiki</a>
        </h4>
    </div>

</div>
{% endblock %}

{% block footer %}
    {% include "footer.htm" %}
{% endblock %}