<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <p>® Samuel Marsina 2026 & Red Barrels Inc.</p>
        <a href="https://www.instagram.com/marsinaaaa_/"><img  src="../pics/Instagram_logo_2016.svg.png" alt="Můj Instagram"></a>
        <a href="https://www.instagram.com/the.redbarrels/"><img  src="../pics/Instagram_logo_2016.svg.png" alt="Red Barrels Instagram"></a>
        <a href="https://www.youtube.com/user/redbarrelsgames"><img  src="../pics/Youtube_logo.png" alt="Red Barrels YouTube"></a>
        <a href="https://x.com/TheRedBarrels"><img src="../pics/X_logo.jpg" alt="Red Barrels Twitter"></a>
    </footer>
    
</body>
</html>