{% extends "base.htm" %}

{% block title %}
    Outlast - Lore
{% endblock %}

{% block content %}

    <div class="lorehornicontainer">
        <h2>Tady se dozvíte něco o příběhu a backstory Outlastu.</h2>
    </div>

    <div class="levylorecontainer">
        <h3>Příběh hry Outlast se odehrává v opuštěném psychiatrickém ústavu Mount Massive, kam novinář Miles Upshur přijíždí na základě anonymního tipu 
            o nelegálních experimentech na pacientech. Tento ústav byl původně uzavřen, ale společnost Murkoff Corporation ho tajně znovu otevřela, 
            aby zde mohla provádět experimenty na lidské mysli bez jakékoliv kontroly. Hlavním cílem těchto experimentů bylo vytvořit dokonalého 
            vojáka prostřednictvím kontroly vědomí a manipulace s psychikou. Klíčovým projektem byl takzvaný Walrider, entita vzniklá kombinací 
            nanotechnologie a lidského vědomí, která se dokáže fyzicky manifestovat. Pacienti v ústavu byli vystaveni extrémnímu psychickému i 
            fyzickému týrání, což vedlo k jejich postupnému šílenství a ztrátě identity. Doktor Rudolf Wernicke byl hlavním vědcem projektu Walrider 
            a věřil, že utrpení je nutné k dosažení vyššího stavu lidské existence. Kněz Martin Archimbaud, jeden z pacientů, začal Walridera uctívat 
            jako božskou bytost a snažil se šířit jeho „evangelium“.
        </h3>
    </div>

    <div class="pravylorecontainer">
        <h3>Bezpečnostní systém ústavu selhal poté, co Walrider unikl kontrole a začal zabíjet personál i pacienty. Miles během svého průzkumu 
            postupně odhaluje hrůzné experimenty a setkává se s různými znetvořenými pacienty, kteří představují výsledky těchto pokusů. Mezi nimi 
            jsou například sadističtí „doktoři“ nebo násilní psychopati, kteří ztratili veškeré morální zábrany. Walrider není pouze fyzická hrozba, 
            ale také symbol zneužití vědy a lidské touhy po moci bez etických hranic. Postupně se ukazuje, že Walrider potřebuje hostitele, 
            skrze kterého může existovat a působit v reálném světě. Miles se nakonec stává tímto hostitelem poté, co je vystaven finální fázi
            experimentu. I když je jeho tělo na konci hry zastřeleno jednotkami Murkoffu, Walrider přežívá a uniká z ústavu. Společnost Murkoff se 
            snaží celou událost ututlat a odstranit všechny důkazy o svých experimentech</h3>
    </div>

    <div class="container">
        <h2>Tady v tomto videu se o celkovém loru dozvíte mnohem více</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aYmrNwE6Y8k?si=AuXwve4-lyrv10ZA" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.htm" %}
{% endblock %}